.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  max-width: 1900px;
  min-height: 60vh;
  margin: 0 auto;
  text-align: center;
  background-color: var(--light);
}

.newsletter-contact-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 60em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
  backdrop-filter: blur(8px);
}

.newsletter-contact-form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./flowers.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.newsletter-contact-form__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  color: var(--white);
}

.newsletter-contact-form__form {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  width: 100%;
}

.newsletter-contact-form__group {
  margin-bottom: 15px;
}

.newsletter-contact-form__label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: var(--white);
}

.newsletter-invalid-feedback {
  text-align: left;
  color: var(--red);
}

.newsletter-contact-form__input {
  width: 100%;
  padding: 10px;
  background-color: var(--white);
}

.newsletter-contact-form__button {
  margin-top: 1em;
  max-width: 200px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--gold);
}

.newsletter-contact-form__button:hover {
  color: var(--white);
  background-color: var(--gold);
  border: 1px solid var(--gold);
}

@media (max-width: 575px) {
  .newsletter-contact-form__form {
    padding: 10px;
  }
}
