.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  max-width: var(--max-width);
  min-height: 60vh;
  margin: 0 auto;
  text-align: center;
  background-color: var(--light);
}
