@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: var(--color-primary);
  color: var(--color-secondary);
  position: relative;
  overflow: hidden;
  &__content {
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slideIn 0.5s ease-out 0.3s forwards;
  }
  &__image {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    animation: rotateIn 1s ease-out 0.5s forwards;
  }
  &__name {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  &__button {
    display: inline-block; // Allows setting padding and margins
    padding: 0.75rem 1.5rem; // Sizeable padding for finger-friendly touch
    margin-top: 1rem; // Spacing from the previous element
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-primary); // Theme-based background color
    color: var(
      --color-secondary
    ); // Text color that contrasts with the button background
    text-align: center; // Center the text inside
    text-decoration: none; // Remove underline from link
    font-weight: 600; // Make the font a bit bolder
    border-radius: 4px; // Rounded corners
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; // Smooth transition for hover effect
    &:hover,
    &:focus {
      // Hover and focus states for interactivity
      background-color: var(
        --color-tertiary
      ); // Change background color on hover
      color: var(--color-primary); // Change text color on hover for contrast
      text-decoration: none; // Maintain no underline on hover
      outline: none; // Remove focus outline for a clean design
    }
    &:active {
      // Clickable feedback
      transform: translateY(2px); // Slight move down to mimic button press
    }
  }
}

// Keyframes for animations
@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform: scale(0) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
