.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // This will distribute the space evenly
  padding: 1rem 0;
  background: var(--color-secondary);
  color: var(--color-primary);
  text-align: center;
  align-items: center;
  min-height: 100px; // Ensures that the footer has a minimum height
  font-family: var(--font-family-base);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  &__content {
    &:first-child {
      margin-top: auto; // This pushes the first content to the top
    }
    &:last-child {
      margin-bottom: auto; // This pushes the last content to the bottom
    }
    padding: 0.25rem 0;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  @media (max-width: 768px) {
    &__content {
      font-size: 0.75rem;
    }
  }
}
