@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
.contact {
  padding: 2rem;
  background: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-family-base);
  &__title {
    color: var(--color-primary);
    margin-bottom: 24px;
  }
  &__container {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    text-align: center;
  }
  &__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .contact {
    padding: 1rem;
  }
  .contact__container {
    grid-template-columns: 1fr;
  }
}
