.image-text-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-text-container__image,
.image-text-container__text {
  width: 100%;
  max-height: 50em;
}

.image-text-container__image img {
  max-width: 100%;
  max-height: 50em;
}

.image-text-container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-text-container__text h1,
.image-text-container__text h2 {
  margin: 0;
}

@media (min-width: 601px) {
  .image-text-container__image,
  .image-text-container__text {
    width: 50%;
  }
}
