.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  max-width: 1900px;
  min-height: 80vh;
  margin: 0 auto;
  text-align: center;
  background-color: var(--light);
}

.about__row {
  margin-bottom: 20px;
}

.about__row--cta {
  display: flex;
  justify-content: center;
}

.about__title {
  font-size: 1.8em;
  font-weight: bold;
}

.about__slogan {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.about__slogan::before {
  content: "";
  border-left: 4px solid var(--gold);
  height: 100%;
  margin-right: 10px;
}

/* .about__slogan-text {
  /* Additional styles for slogan text if needed */

.about__description {
  font-size: 1.2em;
  margin-top: 1em;
}

.about__button {
  margin-top: 1em;
  max-width: 200px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--gold);
}

.about__button:hover {
  color: var(--black);
  background-color: var(--gold-hover);
  border: 1px solid var(--gold);
}

@media only screen and (min-width: 768px) {
  .about__title {
    font-size: 2em;
  }
  .about__slogan {
    font-size: 1.8em;
  }
  .about__description {
    font-size: 1.5em;
  }
}

/* Desktop */

@media only screen and (min-width: 1024px) {
  .about__title {
    font-size: 3em;
  }
  .about__slogan {
    font-size: 2.5em;
  }
  .about__description {
    font-size: 2em;
  }
}
