* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #eff8fa;
  /* Light blue */
  --color-secondary: #010626;
  /* Almost black */
  --color-tertiary: #465e73;
  /* Medium blue */
  --color-quaternary: #465e73;
  /* Darker blue */
  --color-quinary: #010440;
  /* Dark green */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
  color: var(--color-primary);
  /* Use primary color for links */
}

a:hover {
  color: var(--color-tertiary);
  /* Use tertiary color for hover state */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--color-secondary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-quinary);
  /* Use quinary color for headings */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-quaternary);
  /* Use quaternary color for buttons */
  color: var(--color-secondary);
  /* Use secondary color for button text */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
  /* Use primary color for hover border */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-secondary);
    /* Dark text in light mode */
    background-color: var(--color-primary);
    /* Light background in light mode */
  }
  a:hover {
    color: var(--color-quaternary);
    /* Different hover color in light mode */
  }
  button {
    background-color: var(--color-primary);
    /* Light background for buttons in light mode */
    color: var(--color-secondary);
    /* Dark text for buttons in light mode */
  }
}
