.newsletter__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    max-width: var(--max-form-width);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1em;
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(8px);
}

.newsletter__form::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(196, 196, 196, 0.3)), url("./flowers.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.newsletter__label {
    width: 100%;
    text-align: left;
    color: var(--light);
}

.newsletter__title {
    color: var(--light);
    margin-bottom: 48px;
    text-align: center;
}

.newsletter__status--sending {
    color: var(--light);
    background-color: var(--dark);
    width: auto;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}

.newsletter__status--error {
    color: var(--light);
    background-color: rgba(255, 0, 0, 0.4);
    width: auto;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}

.newsletter__status--success {
    color: var(--light);
    background-color: var(--green);
    width: auto;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}

.newsletter__input {
    width: 100%;
    padding: 10px;
}

.newsletter__status {
    padding: 10px;
    margin-top: 8px;
}

.newsletter__submit {
    border: 2px solid;
    background-color: transparent;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin: 48px auto 0 auto;
    border-color: var(--gold);
    color: var(--gold);
    max-width: 10em;
}

.newsletter__submit:hover {
    background-color: var(--gold);
    color: var(--black);
}